
$primary-color_red: #E31E26;
$primary-color_flag-blue: #0e467b;
$primary-color_dark-blue: #0F1D49;
$primary-color_yellow: #FED22F;
$primary-color_light-yellow: #FBE3A2;
$primary-color_blue: #6694D0;
$primary-color_sky-blue: #3b519a;
$primary-color_light-blue: #9DB9DE;
