

*, ::before, ::after, 
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}



html, body, #root {
   line-height: 1.5;
   background-color: #0000000e;
   scroll-behavior: smooth;
   display: block;
   font-family: 'Ubuntu', sans-serif;;
}


img {
 width: 100%;
 max-height: 100%;
 object-fit: cover;
 display: block;
}

a, button {
  text-decoration: none;
  color: inherit;
}

ul li, ol {
  list-style: none;
}



