@use "../../sass/colours" as color;

nav {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: color.$primary-color_dark-blue;

   padding: 1rem 5rem;
   @media (max-width:920px) {
      
   }




   .nav-list {
      display: flex;
      justify-content: center;
      gap: 1rem;
      @media (max-width:920px) {
         flex-wrap: wrap;
      }

      &>li {
         display: flex;
         align-items: center;

      }

   }

   .nav-list_links {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 1rem;
      font-weight: 500;
      transition: transform 200ms ease-in;
      color: color.$primary-color_light-yellow;
      cursor: pointer;

      //resused kindly convert to DRY
      &>span {
         background-color: transparent;
         padding: 1rem 1rem;
         border-top-left-radius: 8px;
         border-top-right-radius: 8px;
         border-bottom-right-radius: 8px;
         transition: color, background-color 200ms ease-in;
      }


      &.active>span {
         background-color: color.$primary-color_yellow;
         color: color.$primary-color_dark-blue;

      }

   }

}