@use "../../sass/colours" as color;

nav {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: color.$primary-color_dark-blue;
   z-index: 1;
   box-shadow: 0px 2px 5px 0px color.$primary-color_blue;

  .innner-nav {
   display: flex;
   flex-direction: column;
   padding: 1rem 5rem;
   gap: 1rem;
  }


   .nav-list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      @media (max-width:920px) {
         flex-wrap: wrap;
      }



      &>img {
         display: block;
         object-fit: cover;
         height: 50px;
         width: 250px;
         margin-right: 2rem;
      }

      &>li {
         display: flex;
         align-items: center;
        

      }

   }

   .nav-list_links {
      display: flex;
      align-items: center;
      font-size: .9rem;
      font-weight: 500;
      transition: transform 200ms ease-in;
      color: color.$primary-color_light-yellow;
      cursor: pointer;

      //resused kindly convert to DRY
      &>span {
         display: flex;
         align-items: center;
         gap: .2rem;
         background-color: transparent;
         padding: .5rem;
         border-top-left-radius: 8px;
         border-top-right-radius: 8px;
         border-bottom-right-radius: 8px;
         transition: color, background-color 200ms ease-in;


         &>svg {
           font-size: 20px;
         }
      }


      &.active>span {
         background-color: color.$primary-color_yellow;
         color: color.$primary-color_dark-blue;

      }

   }

}

.nav-buttom-cont {
   display: flex;
   justify-content: right;

   gap: 1rem;
}