

@use "../../sass/colours" as color;


.card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100vh;
   background-color: #fff;
   padding: 2rem 6rem;
   @media (max-width:920px){
      padding: 2rem 0rem;
      height: fit-content;
   }





   &>.inner-card {
     display: flex;
     justify-content: space-between;
     padding: 0rem .5rem;
     gap: 2rem;
     @media (max-width:920px) {
      padding: 0rem 1rem;
     flex-direction: column;
   }
   }
   

}



.card-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


    &>h1 {
      font-size: 2rem;
      color: color.$primary-color_dark-blue;
    }



   .card-info {
      display: flex;
      flex-direction: column;
      font-size: 1.1rem;
      @media (max-width:920px) {
         
      }

      color: color.$primary-color_dark-blue;
      gap: .5rem;


      &>span {
         display: flex;
         gap: .5rem;

         &>a {
            
         }
         &>a:hover {
            text-decoration: underline;
         }
      }
      
     .card-info_readme {
      display: flex;
      flex-direction: column;
      gap: 2rem;

       
      &>span {
         display: flex;
         max-width: 500px;
         line-height: 1.7;
      }
     }

     
   }

}


.card-right {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 4rem;
   @media (max-width:920px) {
      gap: 1rem;
   }
   @media (max-width:480px) {
      padding: 2rem 1rem;
   }
   padding: 2rem 4rem;
   background-color: lighten(color.$primary-color_light-blue, 20%);


   &>span {
      display: flex;
      align-items: center;
      gap: 2rem;
      @media (max-width:920px){
        flex-direction: column;
      gap: 0;
      }

      &>svg {
         font-size: 80px;
         color: color.$primary-color_dark-blue;
      }

      &>.cardbox{
         display: flex;
         padding: 2rem 2rem;
         @media (max-width:920px) {
            justify-content: center;
           width: 100%;
         }
         background-color: color.$primary-color_light-blue;
         border-radius: .5rem;
         border: 2px solid  color.$primary-color_sky-blue;

      


         &>a{
            border: 2px solid transparent;
            margin-top: 2rem;
            display: flex;
            padding: .5rem 2rem;
            font-size: 1.2rem;
            @media (max-width:920px) {
               font-size: .8rem;
            }
            @media (max-width:480px) {
               font-size: .6rem;
            }
            border-radius: 1rem;
            cursor: pointer;
            background-color: color.$primary-color_dark-blue;
            color: #fff;
            @media (max-width:920px) {
         
            }
         }

         &>a:hover {
            background-color: #fff;
            color: color.$primary-color_dark-blue;
            border: 2px solid color.$primary-color_dark-blue;
         }
         
      }
   
      
   }



}