@use "../../sass/colours" as color;



header {
   display: flex;
   flex-direction: column;
   height: max-content;
   padding: 1.5rem 5rem;
   @media (max-width:1500px) {
      padding: 1.5rem 1rem;
   }
   @media (max-width:920px) {
      padding: 1.5rem .5rem;
   }
   // background: linear-gradient(to top, rgba($primary-color_light-blue, 10), rgba($primary-color_blue, 1));
   background: url("../../Assets/image/Clouds-Background-HD.jpg") no-repeat;
   background-position: center;
   background-size: cover;


   &>.inner_header {
      display: flex;
      flex-direction: column;
      @media (max-width:920px) {
         
      }
      gap: 1rem 0;




      &>.top-header {
         display: flex;
         align-items: center;
         justify-content: space-between;
         gap: 1rem;
         @media (max-width:920px) {
           flex-direction: column;
           gap: .5rem;
         }
        




         &>a {
            
            &>img {
               display: block;
               object-fit: cover;
               height: 80px;
               width: 100%;
            }





         }

         &>.appName {
            padding: .5rem;
            position: relative;
            text-transform: capitalize;
            font-size: 1.6rem;
            font-weight: bold;
            text-align: center;
            color: color.$primary-color_dark-blue; // Use the variable without the "color." prefix
            max-width: max-content;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: color.$primary-color_yellow;
            text-shadow: 2px 5px  #fff;
         }

         &>span {
            display: flex;
            gap: 1rem;
           

            &>a {
               font-size: .9rem;
               color: #fff;
               background-color: color.$primary-color_dark-blue;
               padding: .5rem 1rem;
               border-radius: .5rem;
               transition: all 200ms ease;
            }
            &>a:hover {
               color: color.$primary-color_dark-blue;
               background-color: #fff;
            }
         }
      }


   }




}