

.ContentManagement {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

}


.ContentManagement-layout {
   display: flex;
   flex-direction: column;
   min-height: 100%;

}